name: Release

on:
  workflow_dispatch:

jobs:
  release:
    # TODO: Try the new release workflow on main. Once it is verified, switch to a published version.
    uses: ybiquitous/.github/.github/workflows/ruby-release-reusable.yml@96650f33838e507ddc48c14c385de2823104f15a # main
    permissions:
      contents: write
      id-token: write
